body { background-color: #077; margin:0; }
.board,.cell { display: inline-block; }
.board,.next { background-color: black; border: 20px solid #aa0; }
.cell { width: 18px; height: 18px; border: 1px solid black; border-radius: 4px; }
.blockI { background-color: #0ff; }
.blockJ { background-color: #00f; }
.blockL { background-color: #f70; }
.blockO { background-color: #ff0; }
.blockS { background-color: #0f0; }
.blockZ { background-color: #f00; }
.blockT { background-color: #f0f; opacity: 30% }
.score,.cleared { background-color: black; color: yellow; width: 240px; text-align:center; }
.next { position: absolute; left: 250px; top: 20px; }
