body { background-color: #077; }
.board,.cell { display: inline-block; }
.board { background-color: black; border: 20px solid #aa0; }
.cell { width: 18px; height: 18px; border: 1px solid black; border-radius: 4px; }
.blockI { background-color: #0ff; }
.blockJ { background-color: #00f; }
.blockL { background-color: #f70; }
.blockO { background-color: #ff0; }
.blockS { background-color: #0f0; }
.blockZ { background-color: #f00; }
.blockT { background-color: #f0f; }
