body { background-color: #077; margin:0; }
#board { max-width: 800px; position: relative; }
.board { width: 60%; height:80%; }
.next { width: 20%; height: 8%; }
.reset { width: 20%; height: 4%; }
.board,.cell { display: inline-block; }
.board,.next,.reset { background-color: black; border: 3px solid #aa0; border-radius: 2px; color: #eee; text-align: center; }
.reset:hover { background-color: #444; color: #fff; }
.cell { border-radius: 4px; }
.board .cell { width: 10%; height: 5%; }
.next .cell { width: 25%; height: 50%; }

.blockI { background-color: #0ff; }
.blockJ { background-color: #00f; }
.blockL { background-color: #f70; }
.blockO { background-color: #ff0; }
.blockS { background-color: #0f0; }
.blockZ { background-color: #f00; }
.blockT { background-color: #f0f; opacity: 30% }
.score,.cleared {
    background-color: black;
    color: yellow;
    width: 60%;
    height: 2.5%;
    text-align:center;
    border-left: 3px solid #aa0;
    border-right: 3px solid #aa0;
 }
.left,.right,.drop,.rotate{
    background-color: #ccc;
    color: black;
    width: 12%;
    height: 5%;
    border: 3px solid black;
    margin-right: 2%;
    margin-top: 1%;
    text-align: center;
    display: inline-block;
}

.cleared {
    border-bottom: 3px solid #aa0;
}
.next {
    position: absolute;
    left: 70%;
    top: 10%;
 }
 .reset {
     position: absolute;
     left: 70%;
     top: 20%;
}
